@import '/src/styles/colors';
@import '/src/styles/spacing';

.wrapper {
  border: 1px solid $color-text;
  padding: $spacing-2;
  margin-bottom: $spacing-4;
}

.heading {
  font-size: 1.05em;
  font-weight: 600;
  margin-bottom: $spacing-2;
}