/* Color palette shamelessly stolen from https://www.figma.com/community/file/849367817302905364 */

$color-background: #ffffff;
$color-text: #17171b;
$color-text-light: #5d5d5f;

$color-link: #4a90da;
$color-link-active: #346599;

$color-primary: #f2264b;

$color-alert: #a9001a;
$color-success: #00a821;