@import 'src/styles/spacing';
@import 'src/styles/colors';
@import 'src/styles/transitions';

.list {
  list-style-type: none;
  margin: $spacing-0;
  padding: $spacing-0;
}

.item {
  color: $color-text;
  display: flex;
  align-items: center;
  padding: $spacing-1 $spacing-2;
  text-decoration: none;
}

.name {
  display: inline-block;
  font-weight: 600;
  font-size: 1.1em;
  margin-right: $spacing-2;
  transition: color $transition-duration $easing;

  .item:hover &,
  .item:focus-within & {
    color: $color-link-active;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition-duration $easing;

  .item:hover &,
  .item:focus-within & {
    opacity: 1;
    visibility: visible;
  }
}

.fullName {
  font-style: italic;
  font-size: 0.9em;

  &::before {
    content: 'aka. ';
    display: inline;
  }
}

.alignment {
  font-size: 0.9em;
  font-weight: 600;

  &.good {
    color: $color-success;
  }

  &.bad {
    color: $color-alert;
  }
}

.publisher {
  color: $color-text-light;
  font-size: 0.9em;
  font-weight: 600;
}