@import 'src/styles/colors';
@import 'src/styles/spacing';

.wrapper {
  width: 100%;
  min-height: 500px;
  display: grid;
  place-items: center;
}

.boundary {
  max-width: 960px;
}

.heading {
  font-size: 1.5em;
  font-weight: 700;
  margin: $spacing-3 0;

  .wrapper.error & {
    color: $color-alert;
  }
}
